* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Archivo Black", sans-serif;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}
/*-------------mobil---------------*/
@media (max-width: 900px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    left: -500%;
    top: 13ch;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  body {
    padding: 2ch;
    background-image: url(backgroundimg.webp);
    background-size: cover;
  }
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 3cqw;
    padding-bottom: 10px;
    border-bottom: #000000 2px solid;
  }
}
.navbar li {
  list-style: none;
}

.nav-link:hover {
  color: #6c7a81;
  text-decoration: none;
}
header {
  border-bottom: 5px solid #000000;
  background-color: #ffffff;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 3.5cqw;
  padding-left: 10px;
  padding-top: 10px;
}
p {
  font-size: 1.7cqw;
  padding-left: 10px;
  font-style: italic;
}
.grid_3fr-1fr div {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 20px;
}
.grid_3fr-1fr :first-child {
  font-family: "Archivo Black", sans-serif;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 900px) {
  body {
    padding-top: 2ch;
    padding-bottom: 2ch;
    padding-left: 8ch;
    padding-right: 8ch;
    background-image: url(backgroundimg.webp);
    background-size: cover;
  }
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-right: #000000 2px solid;
    padding-right: 1.8ch;
  }
}
main {
  padding-top: 2ch;
  background-color: #ffffff;
  padding-top: 10px;
  padding: 5px;
}
.grid_1fr-1fr-1fr {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr;
  gap: 10.29px;
}
.grid_1fr-1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.grid_1fr {
  display: grid;
  padding-left: 1ch;
  gap: 10.29px;
}
.grid_3fr-1fr {
  display: grid;
  grid-template-columns: 3.6fr 1.5fr;
  gap: 10.29px;
  margin: 10px;
  background-color: #d3e3ea;
}
footer {
  padding: 1ch;
  border-top: 5px solid #000000;
  font-size: 1.5cqw;
  background-color: #ffffff;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
